extends layout

block head
    script(src="javascripts/viewClasses.js")

block content
    h1 Classes:
    div(id='classDiv' class='row row-cols-3')
    a(class='btn btn-primary mt-2' href='/') Back
    